In [26]:
import pandas as pd

import matplotlib.pyplot as plt


import statsmodels.api as sm
import seaborn as sn
sn.set()

In [27]:
df = pd.read_csv("Example_bank_data.csv")
df.head()

   duration    y
0       117   no
1       274  yes
2       167   no
3       686  yes
4       157   no

In [28]:
data = df.copy()
data.head()

   duration    y
0       117   no
1       274  yes
2       167   no
3       686  yes
4       157   no

In [29]:
data["y"] = data["y"].map({"yes":1,"no":0})
data.head()

   duration  y
0       117  0
1       274  1
2       167  0
3       686  1
4       157  0

In [34]:
y = data.y
x1 = data.duration

In [35]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x1)
result = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.641883
         Iterations 5

C:\Users\ABHI\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [37]:
from scipy import stats
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      517
Method:                           MLE   Df Model:                            0
Date:                Mon, 14 Oct 2019   Pseudo R-squ.:                 0.07396
Time:                        10:07:24   Log-Likelihood:                -332.50
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
duration       0.0014      0.000      6.535      0.000       0.001       0.002
==============================================================================
"""